parameters:
  level: max
  excludes_analyse:
    - src/Console/Installer.php
    - src/Controller/PagesController.php
  ignoreErrors:
    - '#Property App\\Model\\Entity\\[a-zA-Z0-9\\_]+::\$_accessible type has no value type specified in iterable type array.#'
    - '#Method App\\Model\\Table\\[a-zA-Z0-9\\_]+::initialize\(\) has parameter \$config with no value type specified in iterable type array.#'
    - '#Method App\\Model\\Table\\[a-zA-Z0-9\\_]+::validationDefault\(\) has parameter \$validator with no value type specified in iterable type Cake\\Validation\\Validator.#'
    - '#Method App\\Model\\Table\\[a-zA-Z0-9\\_]+::validationDefault\(\) return type has no value type specified in iterable type Cake\\Validation\\Validator.#'
    - '#Method App\\Controller\\[a-zA-Z0-9\\_]+Form::validationDefault\(\) has parameter \$validator with no value type specified in iterable type Cake\\Validation\\Validator.#'
    - '#Method App\\Controller\\[a-zA-Z0-9\\_]+Form::validationDefault\(\) return type has no value type specified in iterable type Cake\\Validation\\Validator.#'
    - '#Method App\\Controller\\[a-zA-Z0-9\\_]+Form::_execute\(\) has parameter \$data with no value type specified in iterable type array.#'
    - '#Parameter \#1 \$data of method Cake\\Form\\Form::execute\(\) expects array, array\|string\|null given.#'
  reportUnmatchedIgnoredErrors: false
